.button {
  display: block;
  box-sizing: border-box;
  min-height: 45px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;

  transition-duration: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition-duration: 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition-duration: 0.3s;
  }
}
