.header {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 167px;
  padding-top: 33px;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  padding-left: 20px;

  & img {
    width: 202px;
    height: 52px;
  }
}

.header__nav {
  margin-left: 8.3%;
  flex-grow: 1;
}

.header__email b,
.header__tell b {
  font-weight: normal;
}

.header__email {
  position: relative;

  display: block;
  padding-top: 17px;

  font-family: $mono;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 19px;
    left: -39px;

    width: 19px;
    height: 14px;

    background-image: url("../img/email.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__tell {
  position: relative;

  display: block;
  margin-left: 8.3%;
  padding-top: 17px;

  font-family: $mono;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 17px;
    left: -34px;

    width: 20px;
    height: 20px;

    background-image: url("../img/phone-call.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__order-call {
  height: 45px;
  margin-left: 3.3%;
  margin-top: 3px;
  margin-right: 10px;
  padding: 15px 26px;

  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: $tablet-width) {
  .header__email b,
  .header__tell b,
  .header__order-call {
    display: none;
  }

  .header {
    padding-top: 20px;
    margin-bottom: 53px;
  }

  .header__logo {
    flex-grow: 1;
    padding-left: 25px;
  }

  .header__nav {
    flex-grow: 0;
    margin-left: 0;
    margin-right: 8%;
    margin-top: -3px;
  }

  .header__email {
    &::before {
      top: 16px;
      left: -25px;

      width: 25px;
      height: 18px;

      background-size: 25px 18px;
    }
  }

  .header__tell {
    margin-left: 10.5%;
    
    &::before {
      top: 13px;
      left: -46px;

      width: 23px;
      height: 23px;

      background-size: 23px 23px;
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    margin-bottom: 34px;
    padding-top: 17px;
  }

  .header__logo {
    padding-left: 17px;

    & img {
      width: 38px;
      height: 38px;
    }
  }

  .header__nav {
    margin-right: 25%;
    margin-top: -10px;
  }

  .header__email {
    &::before {
      top: 9px;
      left: -54px;
    }
  }

  .header__tell {
    &::before {
      top: 6px;
      left: -39px;

      width: 23px;
      height: 23px;

      background-size: 23px 23px;
    }
  }
}
