.main-screen {
  position: relative;

  display: flex;
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  padding-left: 34px;
  padding-top: 20px;
}

.main-screen__container {
  width: 55%;
}

.main-screen__title {
  margin-bottom: 40px;

  font-size: 80px;
  line-height: 64px;
  font-weight: bold;
  font-family: $roboto;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: $white;
}

.main-screen__services {
  position: relative;

  margin-bottom: 45px;
  padding-left: 99px;
  padding-right: 10px;
  margin-right: 10px;

  font-family: $mono;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  color: $white;

  &::before {
    content: "";

    position: absolute;
    left: 4px;
    top: 19px;

    width: 66px;
    height: 2px;

    background: $white;
  }
}

.main-screen__button {
  width: 407px;
  min-height: 55px;
  margin-left: 97px;
  margin-bottom: 50px;
  padding-top: 17px;

  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  font-family: $roboto;
  color: $white;

  background-color: $main-color;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-screen__text--mobile {
  display: none;
}

.main-screen__image {
  position: absolute;

  width: 48%;
  right: -3.9%;
  top: 0;
  display: block;

  background-image: url("../img/polygons.svg");
  background-size: 95%;
  background-position: -21% 115%;
  background-repeat: no-repeat;
}

.main-screen__scroll {
  position: absolute;
  bottom: 125px;
  left: 0;

  font-family: $mono;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $white;
  opacity: 0.5;

  border: none;
  background-color: transparent;

  transform: rotate(-90deg);
  cursor: pointer;

  &:hover,
  &:focus {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .main-screen {
    min-height: 537px;
    padding-left: 87px;
  }

  .main-screen__title {
    width: 61%;
    margin-bottom: 29px;

    font-size: 60px;
    line-height: 70px;
  }

  .main-screen__scroll {
    display: none;
  }

  .main-screen__container {
    width: 100%;
  }

  .main-screen__services {
    width: 51%;
    margin-bottom: 55px;
    padding-left: 52px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      top: 16px;
      left: 5px;

      width: 32px;
    }
  }

  .main-screen__button {
    width: 380px;
    margin-left: 51px;
  }

  .main-screen__image {
    right: 0;
    top: -50px;

    width: 41%;
    height: 70%;

    background-size: 526px;
    background-position: -13px -116px;

    img {
      display: block;
      width: 82%;
      margin-left: auto;
      margin-top: 36px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    min-height: 337px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 217px;
  }

  .main-screen__container {
    width: 100%;

    z-index: 1;
  }

  .main-screen__title {
    margin-top: -24px;
    font-size: 40px;
    line-height: 47px;
  }

  .main-screen__services {
    width: 81%;
    margin-bottom: 38px;

    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 13px;
      left: 3px;
    }
  }

  .main-screen__text {
    display: none;

    &--mobile {
      display: block;
    }
  }

  .main-screen__button {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .main-screen__image {
    top: -30px;

    width: 92%;
    max-width: 400px;
    height: 70%;
    margin: 0 auto;
    margin-left: 4%;

    order: -1;

    background-size: 504px;
    background-position: 126px -108px;

    img {
      width: 100%;
      margin-top: 30px;
    }
  }
}
