.social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  width: 130px;
}

.social__item {
  width: 27px;
  height: 27px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition-duration: 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition-duration: 0.3s;
  }

  &--facebook {
    background-image: url("../img/facebook.svg");
  }

  &--ok {
    background-image: url("../img/ok.svg");
  }

  &--vk {
    background-image: url("../img/vk.svg");
  }
}
