html {
  box-sizing: border-box;
}

body {
  min-height: 3000px;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"],
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header-wrapper {
  position: relative;

  min-height: 878px;

  background-color: $gray--dark;
  background-image: url("../img/black-ocen-desktop@1x.png");

  overflow-x: hidden;
}

.main-wrapper {
  padding-top: 111px;
  min-height: 1152px;
  background-image: url("../img/polugons-advantages.svg");
  background-position: -8px -29px;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width) {
  .header-wrapper {
    min-height: 680px;
  }

  .main-wrapper {
    padding-top: 54px;

    background-position: -348px -86px;
  }
}

@media (max-width: $mobile-width) {
  .header-wrapper {
    min-height: 647px;
  }

  .main-wrapper {
    padding-top: 36px;

    background-position: -678px 476px;
  }
}
