html {
  box-sizing: border-box;
}

body {
  min-height: 3000px;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"],
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header-wrapper {
  position: relative;

  min-height: 878px;

  background-color: $gray--dark;
  background-image: url("../img/black-ocen-desktop@1x.png");

  overflow: hidden;
}
