//colors
$gray--dark: #1b2d37;
$gray: #666666;
$gray--light: rgba($gray, 50%);
$main-color: #00b2ff;

//max-width
$mobile-width: 767px;
$tablet-width: 1023px;

//graphics
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
