.header-wrapper {
  position: relative;

  min-height: 878px;

  background-color: $gray--dark;
  background-image: url("../img/black-ocen-desktop@1x.png");

  overflow-x: hidden;
}

.main-wrapper {
  padding-top: 111px;
  min-height: 1152px;
  background-image: url("../img/polugons-advantages.svg");
  background-position: -8px -29px;
  background-repeat: no-repeat;
}

.products-wrapper {
  background-color: $gray--dark;
}

.form-wrapper {
  min-height: 670px;

  background-color: $main-color;
  background-image: url("../img/polygons.svg"), url("../img/polygons-form.svg");
  background-position: 13.6% -61px, 1549px 34px;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width) {
  .header-wrapper {
    min-height: 680px;
  }

  .main-wrapper {
    min-height: 1060px;
    padding-top: 54px;

    background-position: -348px -86px;
  }

  .form-wrapper {
    min-height: 665px;
    background-image: none;
  }
}

@media (max-width: $mobile-width) {
  .header-wrapper {
    min-height: 647px;
  }

  .main-wrapper {
    padding-top: 36px;

    background-position: -678px 476px;
  }

  .form-wrapper {
    min-height: 640px;
  }
}
